### <b>1장 파이썬 개발 환경 구축하기</b>

#### <b>개발 환경이란?</b>

* 코딩, 디버깅, 배포 등 <b>프로그램을 개발하는 일련의 과정을 하나의 프로그램 안에서 수행</b>할 수 있도록 해주는 통합적인 환경을 의미합니다.

#### <b>1) 파이썬(Python) 설치</b>

* 파이썬이라는 프로그래밍 언어로 코딩을 하기 위해서는 파이썬을 설치해야 합니다.
* 파이썬(Python) 다운로드 경로: https://www.python.org/downloads/
  * [Downloads] - [All releases] 페이지로 이동하여 구체적인 버전의 파이썬(Python)을 설치할 수 있습니다.
* 설치 이후에 정상적으로 설치가 완료되었는지 확인하기 위해 명령 프롬프트(CMD)에서 python을 사용해 봅시다.

<pre>
python example.py
</pre>

#### <b>2) Visual Studio Code 설치</b>

* Visual Studio Code는 파이썬을 포함한 다양한 프로그래밍 언어를 지원하며, 무료인 <b>개발 환경</b>입니다.
* Visual Studio Code 다운로드 경로: https://code.visualstudio.com/
  * [Download for Windows] 버튼을 눌러 무료로 설치할 수 있습니다.

#### <b>3) Visual Studio Code에서 개발 시작하기</b>

* Visual Studio Code에서는 특정한 프로그래밍 언어를 이용해서 프로그램을 작성할 수 있습니다.
* Python 확장 프로그램(Extensions)을 사용하면, 보다 풍부한 기능을 이용할 수 있습니다.
* Visual Studio Code를 이용하여 코드를 작성해 봅시다.
  1. Visual Studio Code의 터미널(terminal)을 이용하여 python을 사용해 봅시다.
  2. Visual Studio Code에서 hello_world.py 파일을 생성하여 실행해 봅시다.

<pre>
print("Hello World")
</pre>

#### <b>4) Google Colab</b>

* 구글(Google) 계정만 있다면 무료로 사용할 수 있는 개발 환경입니다.
* Google Colab 시작하기: https://colab.research.google.com/
* [+코드] 버튼을 클릭하여 코드 셀을 추가하고, 파이썬 코드를 작성할 수 있습니다.
* [Shift + Enter]를 입력하여 현재 코드 셀의 파이썬 코드를 실행할 수 있습니다.

### <b>2장 코딩 테스트를 위한 파이썬 문법 핵심 요약 - 기초</b>

#### <b>파이썬 문법</b>

* 다양한 알고리즘 문제를 풀기 위해서는 파이썬 프로그래밍 언어의 문법을 알고 있을 필요가 있습니다.
* 파이썬 공식 자습서: https://docs.python.org/ko/3/tutorial/introduction.html

#### <b>1) 변수와 상수</b>

* 변수: 어떠한 값을 담을 수 있는 그릇입니다.
* 변수에 값을 넣을 때는 등호(=)를 사용합니다.

In [19]:
a = 12
b = 5
print(a + b)

17

* 변수에 저장된 값을 변경할 수 있습니다.

In [20]:
a = 12
b = 5
a = 19
print(a + b)

24

* 존재하지 않는 변수를 출력할 때는 오류가 발생합니다.

In [21]:
print(c)

NameError: ignored

* 상수: 특정한 수를 그대로 사용하면 그 자체로 상수가 됩니다.

In [22]:
print(19 + 5)

24

#### <b>2) 사칙연산</b>

* 파이썬은 프로그래밍 언어이기 때문에, 말 그대로 계산기 목적으로 사용할 수 있습니다.

In [23]:
a = 31
b = 5
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)

36
26
155
6.2
6
1

#### <b>3) 문자열</b>

* 파이썬에서 문자열을 사용할 때는 작은따옴표나 큰따옴표를 사용합니다.

In [24]:
a = "Hello"
b = 'Python'

print(a)
print(b)

Hello
Python

* 문자열끼리의 덧셈이 가능합니다.

In [25]:
a = "Hello"
b = "Python"

print(a + ", " + b)

Hello, Python

* 문자열 안에서 큰따옴표나 작은따옴표를 출력해야 한다면 이스케이핑을 사용할 수 있습니다.
    * 역 슬래시(\\) 기호를 이용하면 됩니다.

In [26]:
print("\"평범\"의 연속은 \"비범\"이다.")

"평범"의 연속은 "비범"이다.

* <b>문자열 인덱싱(indexing)</b>: 문자열에 포함된 특정한 하나의 문자를 얻습니다.
    * 첫 번째 문자는 인덱스 0에 해당합니다.

In [27]:
a = "Hello"

print(a[0])
print(a[3])

H
l

* <b>문자열 슬라이싱(slicing)</b>: 부분 문자열(substring)을 얻기 위해 사용합니다.
    * 슬라이싱은 두 개의 인덱스로 구성되는데, <b>변수명[시작 인덱스:끝 인덱스]</b>의 형태를 가집니다.

In [28]:
a = "Hello World"

prefix = a[:4] # 인덱스 3까지의 접두사 가져오기
print(prefix)
suffix = a[2:] # 인덱스 2부터의 접미사 가져오기
print(suffix)

Hell
llo World

In [29]:
a = "Hello World"

print(a[7:10]) # 중간에 있는 부분 문자열 가져오기

orl

* 문자열 인덱싱을 할 때는 범위를 벗어나는 경우 오류가 발생하지만, 슬라이싱의 경우 부드럽게 처리됩니다.

In [30]:
a = "I love you"

print(a[2:50])

love you

* 파이썬에서 문자열은 값을 변경할 수 없기 때문에, 불변(immutable) 객체라고도 합니다.

In [31]:
a = "Hello World"
a[3] = 'b' # 오류 발생

TypeError: ignored

#### <b>4) 리스트</b>

* 프로그램에서는 단순히 한두 개의 변수만 사용하는 것이 아니라, 매우 많은 양의 변수를 다루어야 할 수 있습니다.
* 리스트는 대괄호 안에 원소들을 쉼표로 구분하여 넣을 수 있습니다.

In [32]:
odds = [1, 3, 5, 7, 9]

print(odds)

[1, 3, 5, 7, 9]

* 일반적으로 리스트의 각 원소는 같은 자료형이도록 쓰지만, 서로 다른 자료형의 데이터가 들어갈 수 있습니다.

In [33]:
data = ["Hello", 7, 0.5]

print(data)

['Hello', 7, 0.5]

* 리스트에 대해서 인덱싱과 슬라이싱을 사용할 수 있습니다.

In [34]:
evens = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(evens[3]) # 4번째 원소
print(evens[0:5]) # 1번째 원소부터 5번째 원소까지

8
[2, 4, 6, 8, 10]

* 리스트 덧셈: 리스트끼리 더할 수 있는데, 이때는 단순히 두 리스트를 이어 붙인 결과가 반환됩니다.

In [35]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

print(a + b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* 리스트 중첩: 리스트는 다중(2중, 3중 등)으로 중첩하여 사용할 수 있습니다.

In [36]:
arr = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15]
]

print(arr) # 리스트 전체 출력
print(arr[0][1]) # 1행 2열의 원소 출력
print(arr[2][2]) # 3행 3열의 원소 출력

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
2
13

* 문자열은 불변(immutable) 객체였지만, 리스트는 가변(mutable) 객체입니다.

In [37]:
a = [5, 6, 7, 8, 9]

a[4] = 5
print(a)

a[0] = 1
print(a)

a[1:4] = [2, 3, 4] # 특정 구간을 한꺼번에 바꾸기
print(a)

[5, 6, 7, 8, 5]
[1, 6, 7, 8, 5]
[1, 2, 3, 4, 5]

* 파이썬에서 2차원 이상의 리스트를 초기화할 때는 리스트 컴프리헨션(list comprehension)을 사용합니다.

In [38]:
# 원소를 8개 포함하는 1차원 리스트 초기화
arr = [5] * 8
print(arr)

# 4 X 5 크기를 갖는 2차원 리스트 초기화
arr = [[0] * 5 for _ in range(4)]
print(arr)

# 4 X 5 크기를 갖는 2차원 리스트 초기화
arr = [[i] * 5 for i in range(4)]
print(arr)

# 4 X 5 크기를 갖는 2차원 리스트 초기화
arr = [[(i * 5) + j for j in range(5)] for i in range(4)]
print(arr)

[5, 5, 5, 5, 5, 5, 5, 5]
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[0, 0, 0, 0, 0], [1, 1, 1, 1, 1], [2, 2, 2, 2, 2], [3, 3, 3, 3, 3]]
[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14], [15, 16, 17, 18, 19]]

#### <b>5) 사전(Dictionary) 자료형</b>

* 데이터를 키(key)와 값(value) 쌍의 형태로 저장할 때 사용할 수 있습니다.
* 모든 키(key)를 하나씩 확인할 때는 keys() 메서드를 사용할 수 있습니다.

In [39]:
data = {}
data['apple'] = "사과"
data["banana"] = "바나나"

for key in data.keys():
    print("key:", key, ", value:", data[key])

key: apple , value: 사과
key: banana , value: 바나나

* 사전 자료형은 특정한 데이터의 등장 횟수를 셀 때 효과적으로 사용할 수 있습니다.

In [40]:
data = [1, 3, 3, 5, 4, 3, 1, 4]
counter = {}

for x in data:
    if x not in counter:
        counter[x] = 1
    else:
        counter[x] += 1
print(counter)

{1: 2, 3: 3, 5: 1, 4: 2}

#### <b>6) 집합(Set) 자료형</b>

* 데이터의 중복을 허용하지 않고, 순서가 상관없을 때 사용하는 자료형입니다.
* 특정한 데이터가 등장한 적 있는지 체크할 때 효과적으로 사용됩니다.

In [41]:
data = [1, 3, 3, 5, 4, 3, 1, 4]
visited = set()

for x in data:
    if x not in visited:
        visited.add(x)
    else:
        print("중복 원소 발견:", x)

print("고유한 원소들:", visited)

중복 원소 발견: 3
중복 원소 발견: 3
중복 원소 발견: 1
중복 원소 발견: 4
고유한 원소들: {1, 3, 4, 5}

### <b>3장 코딩 테스트를 위한 파이썬 문법 핵심 요약 – 심화</b>

#### <b>프로그램을 제어하기 위한 문법</b>

* 코딩 테스트 문제를 풀 때, 조건에 따라서 데이터를 처리해야 하는 경우가 많습니다.

#### <b>1) 조건문</b>

* 조건문은 프로그램 실행의 흐름을 제어합니다.
* 일반적으로 프로그램은 사용자의 입력에 따라서 적절한 결과를 뱉는 방식으로 작성됩니다.
    * 사용자로부터 입력을 받을 때는 input() 함수를 사용합니다.

In [42]:
x = int(input())
y = int(input())

print(x / y)

10
4
2.5

* 조건문은 <b>if 구문</b>을 이용해 작성합니다.
    * 조건문 내부에 대하여 띄어쓰기를 4번 사용합니다.
    * 어떠한 값이 다른 값과 동일한지 구할 때는 등호를 2번 사용해 "=="라고 씁니다.

In [44]:
x = int(input())
y = int(input())

if y == 0:
    print('0으로 나눌 수 없습니다.')
else:
    print(x / y)

9
4
2.25

* if에 해당하지 않는다면 elif가 수행되고, 위쪽에 있는 모든 조건문에 해당하지 않을 때 else 구문이 실행됩니다.
    * 이때 elif나 else는 옵션으로, 없어도 됩니다.

In [47]:
score = 90

if score >= 94: # 94점부터 100점
    print('1등급입니다.')
elif score >= 87: # 93점부터 87점
    print('2등급입니다.')
elif score >= 81: # 86점부터 81점
    print('3등급입니다.')
else:
    print('3등급 미만입니다.')

2등급입니다.

#### <b>2) 반복문</b>

* 반복적인 작업을 수행할 때 사용합니다.

In [48]:
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(x)

1
2
3
4
5
6
7
8
9

* for문은 어떠한 시퀀스의 원소에 차례대로 접근한다는 점에서 range() 함수와 함께 사용됩니다.
    * range(start, end) 형태가 가장 많이 사용됩니다.
* for문과 range() 함수를 배웠기 때문에, 다양한 프로그램을 작성할 수 있습니다.
* 1부터 50까지의 수를 더한 값을 계산해 봅시다.

In [49]:
result = 0
for i in range(1, 51): # 1부터 50까지 방문
    result += i

print(result)

1275

* 1부터 50까지의 수 중에서 10의 배수만 더하는 프로그램을 작성할 수 있습니다.

In [50]:
result = 0
for i in range(1, 51):
    if i % 10 == 0:
        result += i

print(result)

150

* enumerate() 함수를 사용하면 인덱스와 함께 반복할 수 있습니다.

In [51]:
name_list = ['홍길동', '이순신', '장보고']

for i, element in enumerate(name_list):
    print(i, element)

0 홍길동
1 이순신
2 장보고

* 반복문을 중첩해서 사용할 수도 있습니다.
    * 구구단 예제를 확인해 봅시다.

In [52]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i * j)

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

* 1부터 N까지의 수 중에서 소수를 찾는 프로그램을 작성할 수 있습니다.
    * 소수가 아닌 경우, 어떤 수의 배수인지 출력한 뒤에 해당 수에 대한 반복문을 탈출합니다.
    * break 구문은 해당 break 구문을 포함하는 반복문을 탈출합니다.

In [57]:
n = 10
for x in range(2, n + 1):
    prime_number = True
    for y in range(2, x):
        if x % y == 0: # 나누어 떨어지는 수가 있다면
            print(x, "=", y, "*", x // y)
            prime_number = False
            break # 반복문 탈출
    if prime_number:
        print(x, "은(는) 소수입니다.")

2 은(는) 소수입니다.
3 은(는) 소수입니다.
4 = 2 * 2
5 은(는) 소수입니다.
6 = 2 * 3
7 은(는) 소수입니다.
8 = 2 * 4
9 = 3 * 3
10 = 2 * 5

#### <b>3) 함수</b>

* 함수를 이용해 소스 코드를 기능별로 분리할 수 있습니다.
    * 각 부품(함수)이 서로 조화를 이루어 하나의 완성된 프로그램을 만들 수 있습니다.
* 함수는 def 구문을 이용하여 작성할 수 있습니다.
* 세 개의 수를 입력받아 더한 결과를 반환하는 함수를 작성해 봅시다.

In [ ]:
def add(a, b, c):
    result = a + b + c
    return result

print(add(3, 5, 7))

15

In [ ]:
def add(a, b, c):
    result = a + b + c
    return result

print(add(3, 5, 7))
print(add(5, 5, 2))
print(add(100, 200, 300))

15
12
600

* 리스트 내 원소 중에서 가장 큰 값의 인덱스(위치)를 찾아서 반환하는 함수를 작성해 봅시다.

In [55]:
def find_max_index(arr):
    max_index = 0
    for i in range(len(arr)):
        if arr[max_index] < arr[i]: # 더 큰 값을 찾은 경우
            max_index = i
    return max_index

data = [7, 1, 5, 9, 3, 2, 4]
max_index = find_max_index(data)
print(max_index)

3

* 특정한 값을 가지는 원소의 인덱스를 찾는 함수를 작성해 봅시다.

In [ ]:
def find_certain_value(arr, value):
    for i, x in enumerate(arr):
        if x == value:
            return i
    return -1 # 찾지 못한 경우 -1을 반환

print(find_certain_value([3, 5, 7, 9], 2))
print(find_certain_value([3, 5, 7, 9], 7))

-1
2

#### <b>4) 코딩 테스트에서 자주 사용되는 라이브러리</b>

* 파이썬(Python)에서는 코딩 테스트에서 효과적으로 사용할 수 있는 다양한 내장함수 및 라이브러리를 제공합니다.

In [ ]:
data = [7, 2, 5, 4, 1]

print(sum(data))
print(min(data))
print(max(data))
print(sorted(data))

19
1
7
[1, 2, 4, 5, 7]

* itertools 모듈에서는 다양한 경우의 수 관련 함수를 제공합니다.

In [ ]:
# 순열
from itertools import permutations

arr = ["A", "B", "C"]
result = list(permutations(arr, 2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'C'), ('C', 'A'), ('C', 'B')]

In [ ]:
# 조합
from itertools import combinations

arr = ["A", "B", "C"]
result = list(combinations(arr, 2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [ ]:
# 중복 순열
from itertools import product

arr = ["A", "B", "C"]
result = list(product(arr, repeat=2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [ ]:
# 중복 조합
from itertools import combinations_with_replacement

arr = ["A", "B", "C"]
result = list(combinations_with_replacement(arr, 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

* 우선순위 큐(priority queue)의 목적으로 힙(heap)을 사용할 수 있습니다.
* 파이썬에서는 heapq 라이브러리를 제공하며, 이는 최소 힙(min heap)을 따릅니다.
  * 힙에 원소를 삽입하거나 삭제할 때 O(logN)의 시간 복잡도를 요구합니다.
* 따라서 단순히 힙에 모든 원소를 넣었다가 빼는 것만으로도 O(NlogN)의 시간 복잡도를 보장하며 오름차순 정렬을 수행할 수 있습니다.

In [ ]:
import heapq

arr = [5, 2, 9, 8, 7, 3, 4, 1, 6]
heap = []
result = []

for x in arr:
    heapq.heappush(heap, x)

for i in range(len(heap)):
    x = heapq.heappop(heap)
    result.append(x)

print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### <b>5) 코딩 테스트에서의 입출력</b>

* 알고리즘 문제에서는 다음과 같은 설명과 함께 입력이 주어지는 경우가 많습니다.

<pre>
▶ 첫째 줄에는 학생의 수가 100 이하의 자연수로 주어진다.
▶ 둘째 줄에는 각 학생의 점수가 100 이하의 양의 정수로 공백을 기준으로 구분되어 주어진다.
</pre>

* 예를 들어 다음과 같이 입력이 주어집니다.

<pre>
5
35 92 89 54 22
</pre>

* 이때, 다음과 같이 입력을 받을 수 있습니다.

In [53]:
n = int(input())
arr = list(map(int, input().split()))

print(n)
print(arr)

5
35 92 89 54 22
5
[35, 92, 89, 54, 22]

* 파이썬을 이용해 알고리즘 문제를 풀다 보면, 입력 문자열이 다수의 라인으로 구성되는 경우가 있습니다.
  * 이러한 경우 입력이 너무 많아서, 입력 과정에서 시간 초과가 발생할 수 있습니다.
  * 예를 들어 1,000,000줄의 입력이 들어오는 경우 기본적인 input() 내장 함수를 이용할 때 1초 이상의 시간이 걸릴 수 있습니다.
* 따라서 sys 모듈에 포함된 readline을 input 대신에 사용하여 빠르게 입력받을 수 있습니다.
  * 이때, readline은 개행문자 "\n"까지 읽어 들이므로, rstrip() 함수를 이용해 개행 문자를 제거할 수 있습니다.

<pre>
import sys
input = sys.stdin.readline
</pre>

* 예를 들어 다음과 같이 사용할 수 있습니다.

In [ ]:
import sys
input = sys.stdin.readline

data = input().rstrip()
print(data)

* 파이썬에서는 f-string을 사용하면 원하는 형태에 맞게 간단히 문자열을 출력할 수 있습니다.

In [54]:
score = 70
print(f"학생의 점수는 {score}점 입니다.")

학생의 점수는 70점 입니다.